# Ce template n'hérite de personne,

   tout comme le template inclus avec {{ include() }}. #}


<ul class="nav nav-pills nav-stacked">



    <li>

      <a href="#">

        test

      </a>

    </li>



</ul>